<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#feed">Kwickie Feed</a></li>
    <li><a data-toggle="tab" href="#apiInterface">API Interface</a></li>
  </ul>

  <div class="tab-content">
    <div id="feed" class="tab-pane fade in active">
      	<div class="container">
      		<login></login>
  		</div>
    </div>
    <div id="apiInterface" class="tab-pane fade">
      <div class="container">
			<h1>Kwickies</h1>
			<hr>
			<kwickies></kwickies>
		</div>
    </div>
  </div>


